.container#empty {
  flex-direction: column;
  align-items: center;
}

.container#empty p {
  font-size: 50px;
  font-weight: 600;
}

.container#empty img {
  width: 250px;
  height: auto;
}

h1 {
  justify-content: center;
}

.container#column {
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
