.container img {
  height: auto;
  width: 50%;
  margin-bottom: 50px;
  aspect-ratio: 1/1;
  object-fit: scale-down;
}

.container#upper {
  justify-content: center;
  width: 1000px;
  margin-bottom: 5%;
  height: 500px;
}

#text {
  overflow-x: hidden;
  overflow-y: auto;
}

#text::-webkit-scrollbar {
  width: 10px;
  background: transparent;
}

#text::-webkit-scrollbar-thumb {
  background: rgb(27, 27, 27);
  border-radius: 10px;
}

#text::-webkit-scrollbar-track {
  background: transparent;
}

.open-lyrics {
  color: orange;
  cursor: pointer;
  transition: 0.3s ease;
}

.open-lyrics:hover {
  color: #af4c4c;
}

.container#upper ul li {
  color: white;
  text-decoration: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.container#upper ul.row {
  display: inline;
  flex-direction: row;
}

.container#music {
  align-items: center;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  gap: 30px;
  margin-bottom: 10%;
  flex-direction: row;
}

#music a {
  font-size: 40px;
  text-decoration: none;
  color: white;
  font-family: "Bebas Neue";
  transition: all 0.5s ease;
}

#music a:hover {
  transform: scale(1.1);
  color: #af4c4c;
}

@media screen and (max-width: 800px) {
  .container#upper {
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    margin-bottom: 1%;
  }

  .container img {
    height: auto;
    width: 90%;
    margin-bottom: 50px;
  }

  #text {
    display: flex;
    overflow-x: visible;
    overflow-y: visible;
    flex-direction: column;
    align-items: center;
  }

  .container#upper ul.row {
    flex-direction: column;
    padding: 0px;
  }

  .container#music {
    align-items: center;
    align-content: center;
    gap: 30px;
    margin-bottom: 10%;
    flex-direction: column;
  }

  h1 {
    text-align: center;
  }
}
