.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    background-color: #272727;
    width: 100%;
    position: sticky;
  }
  
  .navbar-tabs {
    display: flex;
    gap: 20px;
  }
  
  .navbar-tab {
    padding: 10px 15px;
    cursor: pointer;
    color: #ffffff;
    text-decoration: none;
    font-family: "Bebas Neue", sans-serif;
    font-weight: bold;
    font-size: 30px;
  }
  
  .navbar-logo {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .logo-image {
    height: 50px;
  }
  
  .dropdown {
    position: relative;
  }
  
  .dropbtn {
    padding: 10px 15px;
    cursor: pointer;
    color: white;
    background: none;
    border: none;
    font-family: "Bebas Neue", sans-serif;
    font-weight: bold;
    font-size: 30px;
    text-decoration: none;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #f1f1f1;
    min-width: 120px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    padding: 8px 12px;
    display: block;
    color: #333;
    text-decoration: none;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  