.column {
  display: flex;
  width: 1000px;
  height: auto;
  padding: 10px 0px;
  background-color: black;
  flex-direction: row;
  border-radius: 10px;
  transition: all 0.2s ease;
  border-color: black;
  border-width: 5px;
  border-style: solid;
}

.column:hover {
  border-color: #af4c4c;
  border-style: solid;
  background-color: rgb(30, 30, 30);
}

.inner-column {
  display: flex;
}

.inner-column#left {
  align-items: flex-start;
  align-self: center;
  flex-direction: column;
  flex: 1;
  margin-left: 20px;
}

.inner-column#middle {
  align-items: flex-start;
  align-self: center;
  flex-direction: column;
  flex: 3;
  margin-left: 10px;
}

.inner-column#middle p {
  font-size: 35px;
  margin: 5px;
}

.inner-column#middle .location {
  color: #af4c4c;
}

.inner-column#right {
  display: flex;
  justify-content: center;
  align-self: center;
  flex-direction: row;
  flex: 1;
  margin-right: 20px;
  gap: 20px;
}

.link {
  height: 60px;
  width: auto;
  opacity: 0.5;
  transition: all 0.3s ease;
}

.link:hover {
  opacity: 1;
}

@media screen and (max-width: 800px) {
  .column {
    display: flex;
    width: 80%;
    height: 175px;
    background-color: black;
    flex-direction: column;
    border-radius: 0px;
    border-color: none;
    border-width: none;
    border-style: none;
    padding-bottom: 15%;
  }

  .column:hover {
    border-color: none;
    border-width: none;
    border-style: none;
    background-color: black;
  }

  .inner-column#middle p {
    font-size: 20px;
    margin: 5px;
  }

  .inner-column#left {
    align-items: flex-start;
    align-self: flex-start;
    flex-direction: row;
    gap: 10px;
    margin-left: 5px;
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .inner-column#left p {
    font-size: 15px;
  }

  .inner-column#middle {
    align-items: flex-start;
    align-self: flex-start;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
    margin-bottom: 10px;
  }

  .inner-column#middle p {
    font-size: 25px;
    margin: 5px;
  }

  .inner-column#right {
    display: flex;
    justify-content: center;
    align-self: center;
    flex-direction: row;
    flex: 1;
    gap: 20px;
    padding: auto;
  }
  .link {
    height: 45px;
    width: auto;
    opacity: 0.5;
  }
}
