.image-gallery {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  max-width: 80%;
  margin: 0 auto;
  overflow: hidden;
  z-index: 0;
}

.image-gallery img {
  width: 100%;
  max-width: 80%;
  height: auto;
  aspect-ratio: 16 / 9;
  object-fit: cover;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease-in-out;
}

.arrow {
  background-color: transparent;
  border: none;
  color: #333;
  font-size: 2rem;
  font-weight: bold;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
}

.left-arrow {
  left: 10px;
  transition: all 0.2s ease;
  color: white;
  padding: 15px 10px;
  background-color: #242424;
  border-radius: 5px;
}

.right-arrow {
  right: 10px;
  transition: all 0.2s ease;
  color: white;
  padding: 15px 10px;
  background-color: #242424;
  border-radius: 5px;
}

.arrow:hover {
  color: #af4c4c;
  background-color: aliceblue;
}

@media screen and (max-width: 800px) {
  .image-gallery {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    overflow: hidden;
    z-index: 0;
  }
}
