.container#left {
  align-self: flex-start;
  width: 80%;
  text-align: left;
}

.container#right {
  display: flex;
  align-self: flex-end;
  width: 80%;
  text-align: right;
}

.container#wrapper {
  display: flex;
  flex-direction: column;
  width: 70%;
  align-items: center;
  margin: 0 auto;
}

@media screen and (max-width: 800px) {
  .container#wrapper {
    display: flex;
    flex-direction: column;
    width: 90%;
    align-items: center;
    margin: 0 auto;
  }
}
