.container img {
    width: 500px;
    height: auto;
}

.container#text {
    text-align: center;
    width: 50%;
}

.open-lyrics {
    margin-top: 5%;
    color: orange;
    cursor: pointer;
    transition: all .3s ease;
}

.open-lyrics:hover {
    color: #af4c4c;
    transform: scale(1.2) ;
}

